# cache directories
*.DS_Store

#phpstorm project files
.idea/*

vendor/
composer.lock

assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
